<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel&family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="">
        <img class="logo" src="dota_logo.jpg" alt="Dota 2 Logo" />
        <ul class="flex">
          <li><a href="#background">Play</a></li>
          <li><a href="#background">Heroes</a></li>
          <li><a href="#background">Watch</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="background flex">
        <h1>Dota 2</h1>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
